#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    color: white;
}

.contenedor_titulo {
    gap: 1rem;
}

.contenedor_titulo h1{
    margin: 0;
    font-size: x-large;
}

.contenedor_titulo img {
    width: 3rem;
}

.data_pokemones {
    gap: 2rem;
}

.contenedor_poke {
    gap: 1rem;
}

.pokemon_card {
    width: 15%;
    height: auto;
    place-content: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column;
    gap: 20px;
    border-radius: 20px;
    background: radial-gradient(100% 68% at 24% 13%, rgb(249 209 5) 0%, rgb(241 7 7 / 77%) 100%);
    box-shadow: rgb(237 37 37 / 39%) -15px -30px 250px 0px;
    overflow: hidden;
    padding: 10px;
    opacity: 1;
    will-change: auto;
    transform: none;
    border-color: rgba(255, 255, 255, .12);
    border-style: solid;
    border-width: 1px;
}

.pokemon_card h2 {
    width: 100%;
    font-size: larger;
}

.input_search {
    background: radial-gradient(100% 68% at 24% 13%, rgb(249 209 5) 0%, rgb(241 7 7 / 77%) 100%);
    box-shadow: rgb(237 37 37 / 39%) -15px -30px 250px 0px;
    border-color: rgba(255, 255, 255, .12);
}

.contenedor_pagination {
    gap: 1rem;
}

.button_pagination {
    width: 20%;
    background: radial-gradient(100% 68% at 24% 13%, rgb(249 209 5) 0%, rgb(241 7 7 / 77%) 100%);
    box-shadow: rgb(237 37 37 / 39%) -15px -30px 250px 0px;
    padding: 5px;
    border-radius: 20px;
    color: white;
}

.contenedor_all_details, .contenedor_all_effect {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background: radial-gradient(100% 68% at 24% 13%, rgb(22 20 20) 0%, rgb(36 2 2 / 77%) 100%);
    box-shadow: rgb(237 37 37 / 39%) -15px -30px 250px 0px;
    padding: 5px;
    border-radius: 20px;
    color: white;
}

.contenedor_poke_details {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon_card_det {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.pokemon_card_det img {
    width: 100%;
}

.pokemon_card_det h2 {
    width: 100%;
    font-size: larger;
}

.poke_details_buttons {
    display: flex;
    gap: 1rem;
}

.poke_details_buttons > div {
    display: flex;
    flex-direction: column;
}

@keyframes bounceDown {
    0%, 100% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(10px);
      opacity: 0.8;
    }
}

.poke_details_buttons > div > span {
    display: flex;
    flex-direction: column;
    animation: bounceDown 1.5s ease-in-out infinite;
  }

.poke_details_buttons > div > button {
    background: none;
    border: none;
    color: white;
}

.poke_abilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poke_details_gif {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.contenedor_all_effect {
    margin-top: 1rem;
}

.animate-spin{
    animation: spin 1s linear infinite;

    @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    }
}

.contenedor_favoritos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
}

.favoritos {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.favoritos .favoritos_img_name {
    width: 5%;
    background: radial-gradient(100% 68% at 24% 13%, rgb(22 20 20) 0%, rgb(36 2 2 / 77%) 100%);
    box-shadow: rgb(237 37 37 / 39%) -15px -30px 250px 0px;
    padding: 5px;
    border-radius: 20px;
    color: white;
}

.favoritos .favoritos_img_name img {
    width: 100%;
}

.btn-primary_easystock {
    height: 20px !important;
    border: none;
    background: none;
    box-shadow: rgb(237 37 37 / 39%) -15px -30px 250px 0px;
    height: auto;
    text-align: center;
    color: white;
    margin: 3px;
    border-radius: 10px;
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
  
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #E37907;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
  
  @keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}
  
.loading-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}
  
.loading-overlay.visible {
    opacity: 1;
}

.contenedor_effect div > li {
    padding: 10px;
    text-align: justify;
}

/* RESPONSIVE */
@media (max-width: 480px) {

    .contenedor_titulo img {
        width: 15%;
    }

    .contenedor_favoritos {
        margin: 0;
    }

    .favoritos {
        overflow-x: auto;
    }

    .favoritos .favoritos_img_name {
        width: 25%;
    }
    .favoritos_img_name > span {
        font-size: 12px;
    }

    .poke_detail {
        flex-direction: column;
    }
    .data_pokemones {
        gap: 1rem;
        margin-top: 2rem;
    }
    .cotenedor_pokemones, .details_poke {
        width: 100% !important;
    }
    
    .pokemon_card, .button_pagination {
        width: 35%;
    }

    .contenedor_all_details{
        margin-top: 2rem;
    }

    .contenedor_all_details, .pokemon_card_det, .contenedor_poke_details {
        font-size: 12px;
    }
    .contenedor_all_details, .contenedor_poke_details > p, div > p, button {
        font-size: 12px;
    }
    .contenedor_effect div > li {
        margin: 20px;
        padding: 0;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .contenedor_favoritos {
        margin: 0;
    }

    .favoritos {
        overflow-x: auto;
    }

    .favoritos .favoritos_img_name {
        width: 25%;
    }
    .favoritos_img_name > span {
        font-size: 12px;
    }

    .poke_detail {
        flex-direction: column;
    }
    .data_pokemones {
        gap: 1rem;
        margin-top: 2rem;
    }
    .cotenedor_pokemones, .details_poke {
        width: 100% !important;
    }

    .contenedor_all_details{
        margin-top: 2rem;
    }
    
    .pokemon_card, .button_pagination {
        width: 35%;
    }
    .contenedor_effect div > li {
        margin: 20px;
        padding: 0;
    }
}

@media (min-width: 1024px) and (max-width: 1281px) {
    .favoritos .favoritos_img_name {
        width: 10%
    }
    .favoritos_img_name > span {
        font-size: 12px;
    }
}

@media (min-width: 1281px) {
    .favoritos_img_name > span {
        font-size: 12px;
    }
}